
.boton-lleno{
    border-radius: 10%;
    border: 0px;
    font-family: cursive;
    background-color: #6C3428;
    color: white;
    width: 240px;
    height: 120px;
}

.contenedor-botones{
    margin:auto;
    padding:10px;
}

.fila{
    padding-top: 1%;
    padding-bottom: 1%;
}

.seleccionado{
    background-color: #e0725d;
}