.boton-vacio{
    border-radius: 10%;
    font-family: cursive;
    border: dotted 5px;
    background-color: #fff0c9;
    border-color: #6C3428;
    width: 240px;
    height: 120px;
    color: black;
}

.boton-lleno{
    border-radius: 10%;
    border: 0px;
    font-family: cursive;
    background-color: #6C3428;
    color: white;
    width: 240px;
    height: 120px;
}

.contenedor-botones{
    margin:auto;
    padding:10px;
}

.fila{
    padding-top: 1%;
    padding-bottom: 1%;
}